
h1{
    background-color: pink;
    text-align: center;
}

.pageDiv{
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 1px;
    width: 100vw;
}

button{
    padding: 10px;
}

.container{
    border: 2px solid black;
    padding: 10px;
    color: black;
}

.card{
    padding: 10px;
    border: 2px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}